@{
    ViewBag.Title = "Map";
}

<h2>Map</h2>

<div id="myMap" style='position:relative;width:600px;height:400px;'></div>

<script type='text/javascript' src='//www.bing.com/api/maps/mapcontrol?callback=GetMap' async defer></script>

<script type='text/javascript'>
    function GetMap() {
        var map = new Microsoft.Maps.Map('#myMap', {
            credentials: 'AlFJkRT8uPhfcAAuXIjS_xCpf5U5MeD9Caj1AjWKldekgsY6eq5YreoCe6u96l68',
            mapTypeId: Microsoft.Maps.MapTypeId.aerial
        });

        //Add your post map load code here.
    }
</script>